In [4]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.metrics import classification_report

from sklearn.neighbors import KNeighborsClassifier

In [17]:
mow = pd.read_csv(r"Datasets\RidingMowers.csv")
mow.head()

   Income  Lot_Size    Response
0      34        26  Not Bought
1      34        40  Not Bought
2      34        46  Not Bought
3      34        48  Not Bought
4      34        53  Not Bought

In [18]:
dum_mow = pd.get_dummies(mow, drop_first = True)
dum_mow.head()

   Income  Lot_Size  Response_Not Bought
0      34        26                    1
1      34        40                    1
2      34        46                    1
3      34        48                    1
4      34        53                    1

In [7]:
X = dum_mow.drop("Response_Not Bought", axis = 1)
y = dum_mow["Response_Not Bought"]

In [15]:
X.head()

   Income  Lot_Size
0      34        26
1      34        40
2      34        46
3      34        48
4      34        53

In [16]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: Response_Not Bought, dtype: uint8

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    stratify = y, # explained
                                                    random_state = 2022,
                                                    train_size = 0.7
                                                   )

What does Stratify do? </b>

This stratify parameter makes a split so that the proportion of values in the sample produced will be the same as the proportion of values provided to parameter stratify.

For example, if variable y is a binary categorical variable with values 0 and 1 and there are 25% of zeros and 75% of ones, stratify=y will make sure that your random split has 25% of 0's and 75% of 1's.

In [9]:
from sklearn.metrics import roc_curve, roc_auc_score

In [10]:
# Loop

acc = []
Ks = [x for x in range(1,16,2)]

for i in Ks:
    knn = KNeighborsClassifier( n_neighbors = i )
    knn.fit(X_train, y_train)
    y_pred_prob = knn.predict_proba(X_test)[:,1]
    acc.append(roc_auc_score(y_test, y_pred_prob))

In [11]:
i_max = np.argmax(acc)
best_k = Ks[i_max]
print("Best n_neighbors = ", best_k)
print(roc_auc_score(y_test, y_pred_prob))

Best n_neighbors =  3
0.977961432506887

# Using Log Loss

In [12]:
from sklearn.metrics import log_loss

In [13]:
# Log loss

acc = []
Ks = [x for x in range(1,16,2)]

for i in Ks:
    knn = KNeighborsClassifier( n_neighbors = i )
    knn.fit(X_train, y_train)
    y_pred_prob = knn.predict_proba(X_test)[:,1]
    acc.append(-log_loss(y_test, y_pred_prob))

In [20]:
y_test.head()

120    0
7      1
35     1
121    0
29     1
Name: Response_Not Bought, dtype: uint8

In [22]:
y_pred_prob

array([0.13333333, 0.8       , 1.        , 0.06666667, 0.93333333,
       0.13333333, 0.86666667, 0.86666667, 0.8       , 0.66666667,
       0.06666667, 0.06666667, 0.8       , 0.13333333, 0.06666667,
       0.93333333, 0.93333333, 0.93333333, 1.        , 1.        ,
       0.93333333, 0.13333333, 0.06666667, 0.93333333, 0.06666667,
       0.13333333, 0.06666667, 0.93333333, 0.93333333, 1.        ,
       0.93333333, 0.73333333, 1.        , 0.06666667, 0.13333333,
       0.13333333, 0.93333333, 0.06666667, 0.86666667, 0.93333333,
       1.        , 0.13333333, 0.13333333, 0.06666667, 0.93333333,
       0.86666667, 0.93333333, 0.8       , 0.        , 0.13333333,
       0.93333333, 1.        , 0.2       , 0.06666667, 0.86666667])

In [27]:
y_pred = knn.predict(X_test)
knn.predict(X_test)[:,1]

C:\Users\admin\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)
C:\Users\admin\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

In [23]:
i_max = np.argmax(acc)
best_k = Ks[i_max]
print("Best n_neighbors = ", best_k)
print(roc_auc_score(y_test, y_pred_prob))

Best n_neighbors =  15
0.977961432506887