In [1]:
import pandas as pd
import numpy as np

from sklearn.naive_bayes import BernoulliNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

In [3]:
tele = pd.read_csv("Cases\Telecom\Telecom.csv")
tele.head()

  Gender TT_gt_100 Response
0      F         Y        N
1      M         N        N
2      M         N        N
3      F         Y        Y
4      F         N        N

In [4]:
dum_tel = pd.get_dummies(tele, drop_first = True)

In [6]:
X = dum_tel.drop('Response_Y', axis = 1)
y = dum_tel['Response_Y']

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    stratify = y,
                                                    random_state = 2022,
                                                    train_size = 0.7)

In [17]:
nb = BernoulliNB()
nb.fit(X_train, y_train)

BernoulliNB()

In [18]:
y_pred = nb.predict(X_test)

In [19]:
y_pred_prob = nb.predict_proba(X_test)[:,1]

In [20]:
print(accuracy_score(y_test, y_pred))
print(roc_auc_score(y_test, y_pred_prob))

0.9555555555555556
0.9407114624505929

In [22]:
X_test.head()

     Gender_M  TT_gt_100_Y
39          0            1
40          1            0
133         1            0
121         1            1
23          1            0

# Cross Val Score

In [25]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold

What does cross val score do?
https://stephenallwright.com/cross_val_score-sklearn/

In [26]:
kfold = StratifiedKFold(n_splits = 5,
                        shuffle = True,
                        random_state = 2022)

In [27]:
nb = BernoulliNB()

In [28]:
results = cross_val_score(nb,
                         X,
                         y,
                         cv = kfold,
                         scoring = "roc_auc")

In [29]:
results.mean()

0.8835753968253968