In [40]:
import surprise
import pandas as pd
import numpy as np

In [19]:
ratings = pd.read_csv(r"12. Recommender Systems\filmtrust\ratings.txt",
                     sep = " ",
                     names = ["uid", "iid", "rating"])

In [20]:
ratings.head()

   uid  iid  rating
0    1    1     2.0
1    1    2     4.0
2    1    3     3.5
3    1    4     3.0
4    1    5     4.0

In [22]:
lowest_rating = ratings["rating"].min()
highest_rating = ratings["rating"].max()

print("Ratings range between (0) and (1)".format(lowest_rating, highest_rating))
reader = surprise.Reader(rating_scale = (lowest_rating, highest_rating))

Ratings range between (0) and (1)

In [30]:
data = surprise.Dataset.load_from_df(ratings,reader)

In [31]:
similarity_options = {"names": "cosine", "user_defined": True}

In [32]:
algo = surprise.KNNBasic(sim_options = similarity_options)
output = algo.fit(data.build_full_trainset())

Computing the msd similarity matrix...
Done computing similarity matrix.

In [33]:
pred= algo.predict(uid = '50', iid = '217')
score = pred.est
print(score)

3.0028030537791928

# All the users

In [ ]:
iids  = ratings['iid'].unique()
iids

In [35]:
rec_50 = ratings[ratings["uid"] == 50]
iids50 = rec_50["iid"]

print("List of iid that uid = (0) has rated : ".format(50))
print(iids50)

List of iid that uid = (0) has rated :
864      8
865    211
866      3
867      2
868    219
869    234
870     12
871    254
872    250
873    207
874     11
875    253
876    236
877     84
878     10
879      7
880    233
881     13
882      1
883      5
884      6
885    252
886    241
887    216
888    257
889    206
890      4
891    217
892      9
893    215
894    213
895     17
896    255
897    220
898    121
899    245
900    239
901    251
902    235
Name: iid, dtype: int64

In [39]:
iids_to_predict = np.setdiff1d(iids, iids50)
print("List of iid which uid=(0) did not rate(in all {1}:".format(50, len(iids_to_predict)))
print(iids_to_predict)

NameError: name 'np' is not defined

In [ ]:
testset = [[50, iid, 0.] for iid in iids_to_predict]

In [ ]:
pred_ratings =