In [1]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

from mlxtend .preprocessing import TransactionEncoder

In [3]:
dataA = []

In [4]:
with open(r"C:\Hogwarts\machine_learning\11. Association Rules\Association Datasets\DataSetA.csv") as f:dataA = f.read()
dataA = dataA.split("\n")

In [5]:
dataA_list = []
for i in dataA:
    dataA_list.append(i.split(","))

In [6]:
te =TransactionEncoder()
te_ary = te.fit(dataA_list).transform(dataA_list)
te_ary

array([[ True, False,  True, ..., False, False,  True],
       [ True, False, False, ..., False, False, False],
       [ True, False,  True, ..., False,  True, False],
       ...,
       [ True,  True, False, ..., False, False,  True],
       [ True,  True, False, ..., False, False,  True],
       [ True, False, False, ..., False, False, False]])

In [7]:
fp_df = pd.DataFrame(te_ary, columns=te.columns_)

## Create Frequent Itemset

In [9]:
itemset = apriori(fp_df, min_support = 0.2,
                 use_colnames=True)
itemset.head()

    support         itemsets
0  1.000000               ()
1  0.437774          (Bread)
2  0.437535         (Butter)
3  0.437136         (Cheese)
4  0.439770  (Coffee Powder)

## Convert into rules

In [11]:
rules = association_rules(itemset,
                         min_threshold = 0.5)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Bread),(),0.437774,1.0,0.437774,1.0,1.0,0.0,inf
1,(Butter),(),0.437535,1.0,0.437535,1.0,1.0,0.0,inf
2,(Cheese),(),0.437136,1.0,0.437136,1.0,1.0,0.0,inf
3,(Coffee Powder),(),0.439770,1.0,0.439770,1.0,1.0,0.0,inf
4,(Ghee),(),0.439850,1.0,0.439850,1.0,1.0,0.0,inf

In [ ]:
h