In [1]:
import pandas as pd
import numpy as np
import surprise

In [26]:
amz = pd.read_csv(r"12. Recommender Systems\Amazon Movie Ratings\Amazon.csv")

ratings = pd.melt(amz, id_vars = "user_id",
              var_name="item_id",
              value_name="rating")
ratings

               user_id   item_id  rating
0       A3R5OBKS7OM2IR    Movie1     5.0
1        AH3QC2PC1VTGP    Movie1     NaN
2       A3LKP6WPMP9UKX    Movie1     NaN
3        AVIY68KEPQ5ZD    Movie1     NaN
4       A1CV1WROP5KTTW    Movie1     NaN
...                ...       ...     ...
998683  A1IMQ9WMFYKWH5  Movie206     5.0
998684  A1KLIKPUF5E88I  Movie206     5.0
998685   A5HG6WFZLO10D  Movie206     5.0
998686  A3UU690TWXCG1X  Movie206     5.0
998687   AI4J762YI6S06  Movie206     5.0

[998688 rows x 3 columns]

In [27]:
ratings = ratings[ratings['rating'].notna()]
ratings

               user_id   item_id  rating
0       A3R5OBKS7OM2IR    Movie1     5.0
4848    A3R5OBKS7OM2IR    Movie2     5.0
9697     AH3QC2PC1VTGP    Movie3     2.0
14546   A3LKP6WPMP9UKX    Movie4     5.0
14547    AVIY68KEPQ5ZD    Movie4     5.0
...                ...       ...     ...
998683  A1IMQ9WMFYKWH5  Movie206     5.0
998684  A1KLIKPUF5E88I  Movie206     5.0
998685   A5HG6WFZLO10D  Movie206     5.0
998686  A3UU690TWXCG1X  Movie206     5.0
998687   AI4J762YI6S06  Movie206     5.0

[5000 rows x 3 columns]

In [28]:
lowest_rating = ratings['rating'].min()
highest_rating = ratings['rating'].max()
print("Ratings range between {0} and {1}".format(lowest_rating,highest_rating))
reader = surprise.Reader(rating_scale = (lowest_rating,highest_rating))

Ratings range between 1.0 and 5.0

Converting the data into surprise format:

In [29]:
data = surprise.Dataset.load_from_df(ratings,reader)
type(data)

surprise.dataset.DatasetAutoFolds

Similarity options:

In case of Item based filtering, 'user_based' value will be False

In [30]:
similarity_options = {'name': 'cosine', 'user_based': True}

Default K = 40

In [31]:
algo = surprise.KNNBasic(sim_options = similarity_options)
output = algo.fit(data.build_full_trainset())

Computing the cosine similarity matrix...
Done computing similarity matrix.

The above .fit() calculates expected rating for all the users </b>
Say we want expected rating of user=A3LKP6WPMP9UKX for item Movie4

In [32]:
pred = algo.predict( uid = '880', iid = '476')
score = pred.est
print(score)

4.3856

All the users

In [34]:
iids = ratings['item_id'].unique()
iids

array(['Movie1', 'Movie2', 'Movie3', 'Movie4', 'Movie5', 'Movie6',
       'Movie7', 'Movie8', 'Movie9', 'Movie10', 'Movie11', 'Movie12',
       'Movie13', 'Movie14', 'Movie15', 'Movie16', 'Movie17', 'Movie18',
       'Movie19', 'Movie20', 'Movie21', 'Movie22', 'Movie23', 'Movie24',
       'Movie25', 'Movie26', 'Movie27', 'Movie28', 'Movie29', 'Movie30',
       'Movie31', 'Movie32', 'Movie33', 'Movie34', 'Movie35', 'Movie36',
       'Movie37', 'Movie38', 'Movie39', 'Movie40', 'Movie41', 'Movie42',
       'Movie43', 'Movie44', 'Movie45', 'Movie46', 'Movie47', 'Movie48',
       'Movie49', 'Movie50', 'Movie51', 'Movie52', 'Movie53', 'Movie54',
       'Movie55', 'Movie56', 'Movie57', 'Movie58', 'Movie59', 'Movie60',
       'Movie61', 'Movie62', 'Movie63', 'Movie64', 'Movie65', 'Movie66',
       'Movie67', 'Movie68', 'Movie69', 'Movie70', 'Movie71', 'Movie72',
       'Movie73', 'Movie74', 'Movie75', 'Movie76', 'Movie77', 'Movie78',
       'Movie79', 'Movie80', 'Movie81', 'Movie82', 'Movie83', 'Movie84',
       'Movie85', 'Movie86', 'Movie87', 'Movie88', 'Movie89', 'Movie90',
       'Movie91', 'Movie92', 'Movie93', 'Movie94', 'Movie95', 'Movie96',
       'Movie97', 'Movie98', 'Movie99', 'Movie100', 'Movie101',
       'Movie102', 'Movie103', 'Movie104', 'Movie105', 'Movie106',
       'Movie107', 'Movie108', 'Movie109', 'Movie110', 'Movie111',
       'Movie112', 'Movie113', 'Movie114', 'Movie115', 'Movie116',
       'Movie117', 'Movie118', 'Movie119', 'Movie120', 'Movie121',
       'Movie122', 'Movie123', 'Movie124', 'Movie125', 'Movie126',
       'Movie127', 'Movie128', 'Movie129', 'Movie130', 'Movie131',
       'Movie132', 'Movie133', 'Movie134', 'Movie135', 'Movie136',
       'Movie137', 'Movie138', 'Movie139', 'Movie140', 'Movie141',
       'Movie142', 'Movie143', 'Movie144', 'Movie145', 'Movie146',
       'Movie147', 'Movie148', 'Movie149', 'Movie150', 'Movie151',
       'Movie152', 'Movie153', 'Movie154', 'Movie155', 'Movie156',
       'Movie157', 'Movie158', 'Movie159', 'Movie160', 'Movie161',
       'Movie162', 'Movie163', 'Movie164', 'Movie165', 'Movie166',
       'Movie167', 'Movie168', 'Movie169', 'Movie170', 'Movie171',
       'Movie172', 'Movie173', 'Movie174', 'Movie175', 'Movie176',
       'Movie177', 'Movie178', 'Movie179', 'Movie180', 'Movie181',
       'Movie182', 'Movie183', 'Movie184', 'Movie185', 'Movie186',
       'Movie187', 'Movie188', 'Movie189', 'Movie190', 'Movie191',
       'Movie192', 'Movie193', 'Movie194', 'Movie195', 'Movie196',
       'Movie197', 'Movie198', 'Movie199', 'Movie200', 'Movie201',
       'Movie202', 'Movie203', 'Movie204', 'Movie205', 'Movie206'],
      dtype=object)